{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lista de Todos:{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% for user in users %}
    <article class="user">
      <header>
        <div>
           <h1> Nome de usuário: {{ user['username'] }}</h1> 
        </div>
      </header>
        <p> Id: {{ user['id'] }}</p> 
        <p> Id Pessoa: {{user['id_person_id']}} </p>

        {% for element in list %}
            {% if element.getId() == user['id_person_id'] %}
                <p> Apelido: {{  element.getNickname() }}</p> 
                <p> Cargo: Herói </p> 
                {% for atribute in element.getListAtributes()%}
                    <p> {{atribute}} {{element.show(atribute)}} </p>
                {% endfor %}
            {% endif %}
        {% endfor %}

        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
    <hr>
    {% for element in list %}
        {% if element.getRole() == 2 %}
            <p> Apelido: {{  element.getNickname() }}</p> 
            <p> Cargo: Vilão </p> 
            {% for atribute in element.getListAtributes()%}
                <p> {{atribute}} {{element.show(atribute)}} </p>
            {% endfor %}
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endif %}
        </article>
    {% endfor %}
  
{% endblock %}