{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Selecione uma opção:{% endblock %}</h1>
  
{% endblock %}

{% block content %}

</br>

<img src= "https://play-lh.googleusercontent.com/iSxPiIZWr1YtL4iAmL5hLoXFXDBFq5qXfbDEhKIUdRN8Bq42Bg5h5grXvOLWSpD68t4" >

</br>

<h4>
    <a href="{{ url_for('blog.list', type = 0) }}">Listar Heróis e Vilões</a> </br> </br>
    <a href="{{ url_for('blog.list', type = 1) }}">Listar Somente Heróis</a> </br> </br> 
    <a href="{{ url_for('blog.list', type = 2) }}">Listar Somente Vilões</a> </br> </br>
</h4>

{% endblock %}