{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lista:{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if type != 2 %}
  <h3> Heróis: </h3>
  {% for user in users %}
        
        {% for element in list %}
          
            {% if element.getId() == user['id_person_id'] %}
          
              <h4>  <a href="{{ url_for('blog.profile', id = element.getId()) }}">  {{ element.getNickname() }} </a> </h4>
            
            {% endif %}
        {% endfor %}
        
    {% endfor %}
  {% endif %}

  {% if type != 1 %}
    <h3> Vilões: </h3>
    {% for element in list %}
        {% if element.getRole() == 2 %}
        
          <h4> <a href="{{ url_for('blog.profile', id = element.getId()) }}">  {{ element.getNickname() }} </a> </h4>
        {% endif %}
        </article>

    {% endfor %}
        
    </br>
    
    <a href="{{ url_for('blog.create_villain') }}">Registrar Vilão</a>
  {% endif %}
  
{% endblock %}