{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lista de Vilões:{% endblock %}</h1>
{% endblock %}

{% block content %}

    {% for element in list %}
        {% if element.getRole() == 2 %}
            <p> Apelido: {{  element.getNickname() }}</p>
            <p>Bio : {{ element.getBio()}}</p>
            <p> Cargo: Vilão </p> 
            {% for atribute in element.getListAtributes()%}
                <p> {{atribute}} {{element.show(atribute)}} </p>
            {% endfor %}
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endif %}
        </article>
    {% endfor %}
  
{% endblock %}