{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Registrar{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Nome de Usuário</label>
    <input name="username" id="username" required>

    <label for="password">Senha</label>
    <input type="password" name="password" id="password" required>

    <label for="nickname">Apelido</label>
    <input name="nickname" id="nickname" required>

    <label for="tier">Tier (Popularidade)</label>
    <select name="tier" id="tier" required>
      <option value="S">S</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
    </select>

    <label for="_class">Classe</label>
    <select name="_class" id="_class" required>
      <option value="S">S</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
    </select>

    <label for="bio">Bio</label>
    <input name="bio" id="bio" required>

    <label for="_power">Poderes</label>
    <input name="_power" id="_power" required>
    
    <label for="_zone">Zona de atuação</label>
    <input name="_zone" id="_zone" required>

    <label for="picture_url">URL para a foto de perfil:</label>
    <input name="picture_url" id="picture_url">

    <label for="date">Data de nascimento</label>
    <input name = "date" type="date" value = "" min="0000-01-01" max="2022-12-31" id="date" required>

    <label for="captcha">Verificação de Super-Herói</label>
    <input type="checkbox" name="captcha" id="captcha" required>  
    Declaro em nome da lei que sou um Super-Herói
    
    <input type="submit" value="Registrar">
  </form>
  <form method="post">
    
  </form>
{% endblock %}