{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Registrar{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Nome de Usuário</label>
    <input name="username" id="username" required>

    <label for="password">Senha</label>
    <input type="password" name="password" id="password" required>

    <label for="nickname">Apelido</label>
    <input name="nickname" id="nickname" required>

    <label for="tier">Tier</label>
    <input name="tier" id="tier" required>

    <label for="bio">Bio</label>
    <input name="bio" id="bio" required>

    <label for="captcha">Verificação de Super-Herói</label>
    <input type="checkbox" name="captcha" id="captcha" required>  
    Declaro em nome da lei que sou um Super-Herói
    
    <input type="submit" value="Registrar">
  </form>
  <form method="post">
    
  </form>
{% endblock %}